{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>COVTRACE</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/logo.ico' %}">
</head>

<body>
  <div class="container-scroller">

    <!-- partial:partials/_sidebar.html -->
    {% if user.is_authenticated %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center  fixed-top">
        <div class="logo_sidebar">
          <img src="{% static 'assets/images/logo.png' %}" alt="">
        </div>
        <a class="sidebar_logo" href="{% url 'home'%}">COVTRACE</a>

      </div>

      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/user_icon.png' %}" alt="">
                <span class="count bg-success"></span>
              </div>

              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">{{ user.get_username }}</h5>
                <span>DOH Health Worker</span>
              </div>
            </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'home' %}">
            <span class="menu-icon">
              <i class="mdi mdi-home"></i>
            </span>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'covid_info' %}">
            <span class="menu-icon">
              <i class="mdi mdi-information-outline"></i>
            </span>
            <span class="menu-title">Covid Info</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'map' %}">
            <span class="menu-icon">
              <i class="mdi mdi-map-marker"></i>
            </span>
            <span class="menu-title">Map</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'news' %}">
            <span class="menu-icon">
              <i class="mdi mdi-newspaper"></i>
            </span>
            <span class="menu-title">News</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'aboutus' %}">
            <span class="menu-icon">
              <i class="mdi mdi-account-group"></i>
            </span>
            <span class="menu-title">About Us</span>
          </a>
        </li>

      </ul>
    </nav>

    {% else %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">

      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center  fixed-top">
        <div class="logo_sidebar">
          <img src="{% static 'assets/images/logo.png' %}" alt="">
        </div>
        <a class="sidebar_logo" href="{% url 'home'%}">COVTRACE</a>

      </div>

      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/user_icon.png' %}" alt="">
                <span class="count bg-success"></span>
              </div>

              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Guest</h5>
              </div>
            </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'home' %}">
            <span class="menu-icon">
              <i class="mdi mdi-home"></i>
            </span>
            <span class="menu-title">Home</span>
          </a>
        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'covid_info' %}">
            <span class="menu-icon">
              <i class="mdi mdi-information-outline"></i>
            </span>
            <span class="menu-title">Covid Info</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'map' %}">
            <span class="menu-icon">
              <i class="mdi mdi-map-marker"></i>
            </span>
            <span class="menu-title">Map</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'news' %}">
            <span class="menu-icon">
              <i class="mdi mdi-newspaper"></i>
            </span>
            <span class="menu-title">News</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'aboutus' %}">
            <span class="menu-icon">
              <i class="mdi mdi-account-group"></i>
            </span>
            <span class="menu-title">About Us</span>
          </a>
        </li>

      </ul>
    </nav>

    {% endif %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->

      {% if user.is_authenticated %}
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img
              src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item menu-items">
              <a class="nav-link" href="{% url 'display' %}">
                <span class="menu-icon">
                  <i class="mdi mdi-medical-bag"></i>
                </span>
              </a>
            </li>

            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link btn btn-success create-new-button" aria-expanded="false" href="{% url 'patient' %}">+
                Add New Patient</a>

            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="{% static 'assets/images/faces/user_icon.png' %}" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.get_username }}</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log out</p>
                  </div>
                </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>


      {% else %}
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img
              src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="{% static 'assets/images/faces/user_icon.png' %}" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Guest</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <a href="{% url 'login' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-login text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log In</p>
                  </div>
                </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      {% endif %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">{{ patients_dets_count }}</h3>
                        {% if new_patients_dets_count == 0%}
                        <p class="text-danger ms-2 mb-0 font-weight-medium"> + {{new_patients_dets_count}}</p>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-danger">
                        <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <p class="text-success ms-2 mb-0 font-weight-medium"> + {{new_patients_dets_count}}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success ">
                  <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
              </div>
            </div>
            {% endif %}
            <h6 class="text-muted font-weight-normal">Total Covid Cases</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0">{{ patients_recovered_count }}</h3>
                  {% if new_patients_recovered_count == 0%}
                  <p class="text-danger ms-2 mb-0 font-weight-medium">+ {{new_patients_recovered_count}}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-danger">
                  <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                </div>
              </div>
            </div>
            {% else %}
            <p class="text-success ms-2 mb-0 font-weight-medium">+ {{new_patients_recovered_count}}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="icon icon-box-success">
            <span class="mdi mdi-arrow-top-right icon-item"></span>
          </div>
        </div>
      </div>
      {% endif %}
      <h6 class="text-muted font-weight-normal">Total Recovered</h6>
    </div>
  </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ patients_deaths_count }}</h3>
              {% if new_patients_death_count == 0%}
              <p class="text-danger ms-2 mb-0 font-weight-medium"> + {{new_patients_death_count}}</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-danger">
              <span class="mdi mdi-arrow-bottom-left icon-item"></span>
            </div>
          </div>
        </div>
        {% else %}
        <p class="text-success ms-2 mb-0 font-weight-medium"> + {{new_patients_death_count}}</p>
      </div>
    </div>
    <div class="col-3">
      <div class="icon icon-box-success">
        <span class="mdi mdi-arrow-top-right icon-item"></span>
      </div>
    </div>
  </div>
  {% endif %}
  <h6 class="text-muted font-weight-normal">Total Death</h6>
  </div>
  </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">2-14 Days</h3>

            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">Usual Onset</h6>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Covid-19 Update</h4>
          <canvas class="transaction-chart"></canvas> 
          
            <div class="text-center">

              <p class="parag1">The officials gilled government database for
                coronavarious (covid 19)</p>


              
                <img src="{% static 'assets/images/6471546 1.png' %}" alt="" class="img1">
              </div>
 

        </div>
      </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          {% block content %}
 
              <div class="container">
                  <div class="row mt-4">
                      <div class="col-md-12 offset-md-0">
                          {{ map1|safe }} 
                      </div>
                  </div> 
              </div>
          {% endblock %}    

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <h5>Strain</h5>
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">SARS-CoV-2</h2>

              </div>

            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-medical-bag text-primary ms-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <h5>Symptoms</h5>
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">Fever, Cough, Fatigue</h2>

              </div>

            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-needle text-danger ms-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <h5>Expected Vaccine Cure</h5>
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">2030</h2>

              </div>

            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-hospital text-success ms-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © covtrace.com
        2022</span>

    </div>
  </footer>
  <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'assets/js/misc.js' %}"></script>
  <script src="{% static 'assets/js/settings.js' %}"></script>
  <script src="{% static 'assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
  <!-- End custom js for this page -->
</body>

</html>