<!DOCTYPE html>
<html>
    <head>
        <title>COVTRACE - Add Patients</title>
    </head>

    <body> 

        <h1 style="font-family:verdana;">ADD PATIENT</h1>
        <form action="{% url 'join' %}" method="POST">
            {% csrf_token %}
            <label for='name'>Name:</label><br>
            <input type="Text" id="name" name="name"><br><br>
            
            <label for='birthday'>Birthday:</label><br>
            <input type="Text" id="birthday" name="birthday"><br><br>

            <label for='age'>Age:</label><br>
            <input type="number" id="age" name="age"><br><br>

            <label for='gender'>Gender:</label><br>
            <input type="Text" id="gender" name="gender"><br><br>

            <label for='barangay'>Barangay:</label><br>
            <input type="Text" id="barangay" name="barangay"><br><br>

            <label for='status'>Status:</label><br>
            <input type="Text" id="status" name="status"><br><br>

            <input type="Submit" value="Submit">
        </form>
    </body>

</html>